@font-face {
  font-family: Bebas;
  src: url("../fonts/BebasNeue Regular.otf");
}

@font-face {
  font-family: Bebas;
  font-weight: bold;
  src: url("../fonts/BebasNeue Bold.otf");
}

@font-face {
  font-family: Bebas Light;
  src: url("../fonts/BebasNeue Light.otf");
}

/* line 65, ../sass/global.scss */
.z-1, .black-bg {
  z-index: 1;
}

/* line 65, ../sass/global.scss */
.z-2 {
  z-index: 2;
}

/* line 65, ../sass/global.scss */
.z-3 {
  z-index: 3;
}

/* line 65, ../sass/global.scss */
.z-4 {
  z-index: 4;
}

/* line 65, ../sass/global.scss */
.z-5 {
  z-index: 5;
}

/* line 65, ../sass/global.scss */
.z-6, #frame-401 .info {
  z-index: 6;
}

/* line 65, ../sass/global.scss */
.z-7, .tv-frame, #frame-401 .print-button {
  z-index: 7;
}

/* line 65, ../sass/global.scss */
.z-8, #frame-107-a .ball, #frame-107-a .basket, #frame-107-b .ball, #frame-107-b .basket, #frame-107-c .ball, #frame-107-c .basket, #frame-108 .textfield, #frame-108 .check-button {
  z-index: 8;
}

/* line 65, ../sass/global.scss */
.z-9 {
  z-index: 9;
}

/* line 65, ../sass/global.scss */
.z-10 {
  z-index: 10;
}

/* line 65, ../sass/global.scss */
.z-11 {
  z-index: 11;
}

/* line 65, ../sass/global.scss */
.z-12 {
  z-index: 12;
}

/* line 65, ../sass/global.scss */
.z-13 {
  z-index: 13;
}

/* line 65, ../sass/global.scss */
.z-14 {
  z-index: 14;
}

/* line 65, ../sass/global.scss */
.z-15 {
  z-index: 15;
}

/* line 65, ../sass/global.scss */
.z-16 {
  z-index: 16;
}

/* line 65, ../sass/global.scss */
.z-17 {
  z-index: 17;
}

/* line 65, ../sass/global.scss */
.z-18 {
  z-index: 18;
}

/* line 65, ../sass/global.scss */
.z-19 {
  z-index: 19;
}

/* line 65, ../sass/global.scss */
.z-20 {
  z-index: 20;
}

/* line 71, ../sass/global.scss */
.black-skin {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.7;
  z-index: 10;
}

/* line 81, ../sass/global.scss */
.next-button, .start-button, .correct, .keep-thinking, .result {
  border-radius: 50%;
  z-index: 11;
  width: 20%;
  height: 40%;
  position: absolute;
  left: 40%;
  top: 30%;
  background-color: white;
  color: black;
  font-size: 3vmax;
  text-align: center;
  padding-top: 8.5%;
}

/* line 97, ../sass/global.scss */
.next-button:hover, .start-button:hover, .result:hover {
  color: white;
  background-color: black;
}

/* line 103, ../sass/global.scss */
.absolute-max, #main, .frame, .tv-frame, .black-bg, #frame-101 .bg, #frame-101 .law, #frame-102 .bg-1, #frame-102 .bg-2, #frame-102 .milk-ice-cream, #frame-102 .boy-1-mouth, #frame-102 .boy-1-mouth-2, #frame-102 .boy-2-mouth, #frame-102 .boy-2-mouth-2, #frame-102 .shake, #frame-102 .boy-angry, #frame-102 .video-container, #frame-103 .tv-program, #frame-103 .boys-1, #frame-103 .boys-2, #frame-106 .boy-1-mouth, #frame-106 .boy-2-mouth, #frame-108 .matches.pos-1, #frame-109 .boy-mouth, #frame-110 .formula, #frame-401 .info {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

/* line 114, ../sass/global.scss */
.absolute, #frame-000 .button, #frame-102 .lomonosov, #frame-102 .cloud-kaz, #frame-102 .cloud-rus, #frame-102 .cloud-eng, #frame-102 .cloud-formula, #frame-102 .boy-jug, #frame-104 .bingo-1, #frame-105 .bingo-1, #frame-104 .label-1, #frame-105 .label-1, #frame-104 .table, #frame-105 .table, #frame-104 .timer, #frame-105 .timer, #frame-104 .help-button, #frame-105 .help-button, #frame-104 .hint-pic, #frame-105 .hint-pic, #frame-105 .task-pic, #frame-104 .strawberry-container, #frame-105 .banana-container, #frame-107 .box-a, #frame-107 .box-b, #frame-107 .box-c, #frame-107-a .ball, #frame-107-a .basket, #frame-107-b .ball, #frame-107-b .basket, #frame-107-c .ball, #frame-107-c .basket, #frame-108 .matches.pos-0, #frame-108 .matches.pos-2, #frame-108 .equation, #frame-108 .textfield, #frame-108 .title, #frame-108 .check-button, #frame-108 .pear-container, #frame-109 .pancakes, #frame-109 .cloud, #frame-109 .soda, #frame-109 .vinegar, #frame-110 .avogadro-law-eng, #frame-110 .avogadro-law-kaz, #frame-110 .avogadro-law-rus, #frame-110 .law, #frame-110 .label, #frame-110 .textfield, #frame-110 .check-button, #frame-110 .law-link, #frame-110 .hint-pic, #frame-110 .hint-pic .close-button, #frame-111 .fruits, #frame-301 .header, #frame-301 .facts-container, #frame-301 .sources, #frame-301 .back-button, #frame-401 .scales, #frame-401 .scales-empty, #frame-401 .scales-before, #frame-401 .scales-after, #frame-401 .spoon, #frame-401 .petry, #frame-401 .shtativ, #frame-401 .burner, #frame-401 .tigel, #frame-401 .title, #frame-401 .text, #frame-401 .comment, #frame-401 .print-button, #frame-402 .date, #frame-402 .instruction, #frame-402 .instruction-2, #frame-402 .instruction-3, #frame-402 .instruction-4, #frame-402 .table, #frame-402 .table-2 {
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

/* line 121, ../sass/global.scss */
.transition-2s {
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

/* line 130, ../sass/global.scss */
.default-font, * {
  font-family: Bebas;
  font-size: 1vmax;
}

/* line 136, ../sass/global.scss */
.border-box, * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

/*PRE LOAD*/
/* line 153, ../sass/global.scss */
#pre-load {
  background-color: #DCDCDC;
}

/* line 158, ../sass/global.scss */
#pre-load .pre-load-image {
  background-image: url(../pics/pre-loader.png);
  background-size: auto 100%;
  background-position: 0% 0%;
  width: 0%;
  height: 100%;
  position: absolute;
}

/*GLOBAL AND MENU*/
/* line 170, ../sass/global.scss */
body {
  position: absolute;
  margin: 0%;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}

/* line 182, ../sass/global.scss */
#main {
  overflow: hidden;
}

/* line 188, ../sass/global.scss */
.frame {
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  background-size: 100% 100%;
}

/* line 195, ../sass/global.scss */
.tv-frame {
  background-image: url(../pics/tv-frame.png);
}

/* line 202, ../sass/global.scss */
.black-bg {
  background-image: url(../pics/black-background.png);
}

/*FRAME 000 (TITLE/MENU)*/
/* line 211, ../sass/global.scss */
#frame-000 {
  background-image: url(../pics/s0-bg.png);
}

/* line 221, ../sass/global.scss */
#frame-000 .button:hover {
  border-bottom: 3px solid white;
}

/* line 226, ../sass/global.scss */
#frame-000 .research-button {
  left: 67.6%;
  top: 64.1%;
  width: 12%;
  height: 7.2%;
}

/* line 231, ../sass/global.scss */
#frame-000 .check-button {
  left: 64.05%;
  top: 51.4%;
  width: 16%;
  height: 8.3%;
}

/* line 236, ../sass/global.scss */
#frame-000 .facts-button {
  left: 70.8%;
  top: 76.6%;
  width: 8.75%;
  height: 7.3%;
}

/* line 241, ../sass/global.scss */
#frame-000 .der-button {
  left: 32.75%;
  top: 25.1%;
  width: 47.1%;
  height: 21.2%;
}

/*FRAME 101*/
/* line 260, ../sass/global.scss */
#frame-101 .bg-1 {
  background-image: url(../pics/s1-bg-1.png);
}

/* line 260, ../sass/global.scss */
#frame-101 .bg-2 {
  background-image: url(../pics/s1-bg-2.png);
}

/* line 260, ../sass/global.scss */
#frame-101 .bg-3 {
  background-image: url(../pics/s1-bg-3.png);
}

/* line 266, ../sass/global.scss */
#frame-101 .tv-frame {
  background-image: url(../pics/tv-frame.png);
}

/* line 276, ../sass/global.scss */
#frame-101 .law-1 {
  background-image: url(../pics/s1-law-1.png);
}

/* line 281, ../sass/global.scss */
#frame-101 .law-2 {
  background-image: url(../pics/s1-law-2.png);
}

/*FRAME 102*/
/* line 288, ../sass/global.scss */
#frame-102 {
  background-image: url(../pics/s2-bg-1.png);
}

/* line 293, ../sass/global.scss */
#frame-102 .bg-1 {
  background-image: url(../pics/s2-bg-2.png);
}

/* line 299, ../sass/global.scss */
#frame-102 .bg-2 {
  background-image: url(../pics/s2-bg-3.png);
}

/* line 305, ../sass/global.scss */
#frame-102 .milk-ice-cream {
  background-image: url(../pics/s2-milk-ice-cream.png);
}

/* line 311, ../sass/global.scss */
#frame-102 .boy-1-mouth {
  background-image: url(../pics/s2-boy-1-mouth.gif);
}

/* line 317, ../sass/global.scss */
#frame-102 .boy-1-mouth-2 {
  background-image: url(../pics/s2-boy-1-mouth-2.gif);
}

/* line 323, ../sass/global.scss */
#frame-102 .boy-2-mouth {
  background-image: url(../pics/s2-boy-2-mouth.gif);
}

/* line 329, ../sass/global.scss */
#frame-102 .boy-2-mouth-2 {
  background-image: url(../pics/s2-boy-2-mouth-2.gif);
}

/* line 335, ../sass/global.scss */
#frame-102 .shake {
  background-image: url(../pics/s2-shake.png);
}

/* line 341, ../sass/global.scss */
#frame-102 .lomonosov {
  left: 65.95%;
  top: 32%;
  width: 34.05%;
  height: 71.1%;
  background-image: url(../pics/s2-lomonosov.png);
}

/* line 348, ../sass/global.scss */
#frame-102 .cloud-kaz {
  left: 31.05%;
  top: 57.7%;
  width: 30.6%;
  height: 39.9%;
  background-image: url(../pics/s2-cloud-kaz.png);
}

/* line 355, ../sass/global.scss */
#frame-102 .cloud-rus {
  left: 53.8%;
  top: 0%;
  width: 26.65%;
  height: 34.7%;
  background-image: url(../pics/s2-cloud-rus.png);
}

/* line 362, ../sass/global.scss */
#frame-102 .cloud-eng {
  left: 39.4%;
  top: 26.3%;
  width: 24.1%;
  height: 31.4%;
  background-image: url(../pics/s2-cloud-eng.png);
}

/* line 369, ../sass/global.scss */
#frame-102 .cloud-formula {
  left: 46.95%;
  top: 12.8%;
  width: 29.45%;
  height: 38.4%;
  background-image: url(../pics/s2-cloud-formula.png);
}

/* line 376, ../sass/global.scss */
#frame-102 .boy-jug {
  left: 0%;
  top: 22.6%;
  width: 24.3%;
  height: 77.4%;
  background-image: url(../pics/s2-boy-jug.png);
}

/* line 384, ../sass/global.scss */
#frame-102 .boy-angry {
  background-image: url(../pics/s2-boy-angry.png);
}

/*FRAME 103*/
/* line 397, ../sass/global.scss */
#frame-103 {
  background-image: url(../pics/black-background.png);
}

/* line 402, ../sass/global.scss */
#frame-103 .tv-program {
  background-image: url(../pics/s3-tv-program.png);
}

/* line 408, ../sass/global.scss */
#frame-103 .boys-1 {
  background-image: url(../pics/s3-boys-1.png);
}

/* line 414, ../sass/global.scss */
#frame-103 .boys-2 {
  background-image: url(../pics/s3-boys-2.png);
}

/*FRAME 104 AND 105*/
/* line 422, ../sass/global.scss */
#frame-104, #frame-105 {
  background-image: url(../pics/black-background.png);
}

/* line 427, ../sass/global.scss */
#frame-104 .bingo-1 {
  background-size: 100% 100%;
  left: 31.5%;
  top: 20.5%;
  width: 37.25%;
  height: 37.7%;
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  background-image: url(../pics/s4-bingo.png);
}

/* line 436, ../sass/global.scss */
#frame-105 .bingo-1 {
  background-size: 100% 100%;
  left: 31.5%;
  top: 20.5%;
  width: 37.25%;
  height: 37.7%;
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  background-image: url(../pics/s5-bingo.png);
}

/* line 445, ../sass/global.scss */
#frame-104 .label-1, #frame-105 .label-1 {
  left: 10%;
  top: 63.7%;
  width: 80%;
  height: 15.5%;
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  color: #e8f406;
  text-align: center;
  font-size: 5vmax;
}

/* line 455, ../sass/global.scss */
#frame-104 .table, #frame-105 .table {
  left: 33.85%;
  top: 26.5%;
  width: 33.45%;
  height: 62.7%;
}

/* line 461, ../sass/global.scss */
#frame-104 .table .row, #frame-105 .table .row {
  position: relative;
  width: 100%;
  height: 20%;
}

/* line 468, ../sass/global.scss */
#frame-104 .table .row .data {
  position: relative;
  width: 33.3%;
  height: 100%;
  float: left;
  cursor: pointer;
  font-size: 3vmax;
  background-color: white;
  border: 3px solid black;
  text-align: center;
  padding: 1%;
}

/* line 482, ../sass/global.scss */
#frame-105 .table .row .data {
  position: relative;
  width: 33.3%;
  height: 100%;
  float: left;
  cursor: pointer;
  font-size: 2vmax;
  background-color: white;
  border: 3px solid black;
  text-align: center;
  padding: 1%;
  padding-top: 3%;
}

/* line 497, ../sass/global.scss */
#frame-104 .table .row .data:hover, #frame-105 .table .row .data:hover {
  background-color: #282828;
  color: white;
}

/* line 503, ../sass/global.scss */
#frame-104 .timer, #frame-105 .timer {
  left: 82.3%;
  top: 75.4%;
  width: 13.25%;
  height: 14.5%;
  font-size: 3vmax;
  color: #e8f406;
}

/* line 511, ../sass/global.scss */
#frame-104 .help-button, #frame-105 .help-button {
  left: 4.15%;
  top: 7.3%;
  width: 4%;
  height: 8%;
  color: #e8f406;
  text-align: center;
  font-size: 1.7vmax;
  border-radius: 50%;
  border: 3px solid #e8f406;
  padding: 0.8%;
}

/* line 523, ../sass/global.scss */
#frame-104 .help-button:hover, #frame-105 .help-button:hover {
  color: black;
  background-color: #e8f406;
}

/* line 529, ../sass/global.scss */
#frame-104 .hint-pic {
  left: 39.35%;
  top: 32.3%;
  width: 21.3%;
  height: 42.6%;
  box-shadow: 0px 0px 4px 4px white;
  -moz-box-shadow: 0px 0px 4px 4px white;
  -o-box-shadow: 0px 0px 4px 4px white;
  -webkit-box-shadow: 0px 0px 4px 4px white;
  -ms-box-shadow: 0px 0px 4px 4px white;
  background-color: black;
  background-image: url(../pics/hint-h2o.png);
}

/* line 538, ../sass/global.scss */
#frame-105 .hint-pic {
  left: 39.35%;
  top: 32.3%;
  width: 21.3%;
  height: 42.6%;
  box-shadow: 0px 0px 4px 4px white;
  -moz-box-shadow: 0px 0px 4px 4px white;
  -o-box-shadow: 0px 0px 4px 4px white;
  -webkit-box-shadow: 0px 0px 4px 4px white;
  -ms-box-shadow: 0px 0px 4px 4px white;
  color: white;
  padding: 2%;
  font-size: 1.5vmax;
  background-color: black;
}

/* line 549, ../sass/global.scss */
#frame-105 .task-pic {
  left: 67.2%;
  top: 24.3%;
  width: 22.5%;
  height: 50%;
  background-image: url(../pics/task-sulfuric-acid.png);
  background-size: 100% 100%;
}

/* line 557, ../sass/global.scss */
#frame-104 .strawberry-container {
  left: 77.55%;
  top: 7.3%;
  width: 12.2%;
  height: 14.8%;
}

/* line 563, ../sass/global.scss */
#frame-105 .banana-container {
  left: 85.9%;
  top: 7.2%;
  width: 10.9%;
  height: 35.5%;
}

/* line 569, ../sass/global.scss */
#frame-104 .strawberry-container .strawberry {
  float: left;
  width: 25%;
  height: 50%;
  background-size: 100% 100%;
  background-image: url(../pics/strawberry.png);
}

/* line 578, ../sass/global.scss */
#frame-105 .banana-container .banana {
  float: left;
  width: 50%;
  height: 33%;
  background-size: 100% 100%;
  background-image: url(../pics/banana.png);
}

/*FRAME 106*/
/* line 589, ../sass/global.scss */
#frame-106 {
  background-image: url(../pics/s6-bg.png);
}

/* line 599, ../sass/global.scss */
#frame-106 .boy-1-mouth {
  background-image: url(../pics/s2-boy-1-mouth.gif);
}

/* line 604, ../sass/global.scss */
#frame-106 .boy-2-mouth {
  background-image: url(../pics/s6-boy-2-mouth.gif);
}

/*FRAME 107*/
/* line 611, ../sass/global.scss */
#frame-107 .box-a, #frame-107 .box-b, #frame-107 .box-c {
  background-size: 100% 100%;
}

/* line 617, ../sass/global.scss */
#frame-107 .box-a {
  background-image: url(../pics/s7-box-a.png);
  left: 69.65%;
  top: 33%;
  width: 24.65%;
  height: 41.9%;
}

/* line 623, ../sass/global.scss */
#frame-107 .box-a:hover {
  background-image: url(../pics/s7-box-a.png);
  left: 69.15%;
  top: 32%;
  width: 25.65%;
  height: 43.9%;
}

/* line 629, ../sass/global.scss */
#frame-107 .box-b {
  background-image: url(../pics/s7-box-b.png);
  left: 35.6%;
  top: 28.8%;
  width: 28.6%;
  height: 48.5%;
}

/* line 635, ../sass/global.scss */
#frame-107 .box-b:hover {
  background-image: url(../pics/s7-box-b.png);
  left: 35.1%;
  top: 27.8%;
  width: 29.6%;
  height: 50.5%;
}

/* line 641, ../sass/global.scss */
#frame-107 .box-c {
  background-image: url(../pics/s7-box-c.png);
  left: 8.45%;
  top: 35%;
  width: 20.3%;
  height: 34.5%;
}

/* line 647, ../sass/global.scss */
#frame-107 .box-c:hover {
  background-image: url(../pics/s7-box-c.png);
  left: 7.95%;
  top: 34%;
  width: 21.3%;
  height: 36.5%;
}

/*FRAME 107-a*/
/* line 655, ../sass/global.scss */
#frame-107-a {
  background-image: url(../pics/s7-task-a.png);
}

/* line 660, ../sass/global.scss */
#frame-107-a .ball {
  background-size: 100% 100%;
}

/* line 667, ../sass/global.scss */
#frame-107-a .ball-2 {
  left: 91.95%;
  top: 45.6%;
  width: 3.75%;
  height: 9.8%;
  background-image: url(../pics/s7-2.png);
}

/* line 673, ../sass/global.scss */
#frame-107-a .ball-3 {
  left: 4%;
  top: 65.6%;
  width: 3.75%;
  height: 9.8%;
  background-image: url(../pics/s7-3.png);
}

/* line 679, ../sass/global.scss */
#frame-107-a .ball-4 {
  left: 4%;
  top: 45.6%;
  width: 3.75%;
  height: 9.8%;
  background-image: url(../pics/s7-4.png);
}

/* line 685, ../sass/global.scss */
#frame-107-a .ball-5 {
  left: 91.95%;
  top: 65.6%;
  width: 3.75%;
  height: 9.8%;
  background-image: url(../pics/s7-5.png);
}

/* line 691, ../sass/global.scss */
#frame-107-a .basket {
  background-size: 70% 70%;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 699, ../sass/global.scss */
#frame-107-a .basket-1 {
  left: 18.2%;
  top: 15.5%;
  width: 3.55%;
  height: 8.4%;
}

/* line 700, ../sass/global.scss */
#frame-107-a .basket-2 {
  left: 33.3%;
  top: 15.3%;
  width: 3.65%;
  height: 8.8%;
}

/* line 701, ../sass/global.scss */
#frame-107-a .basket-3 {
  left: 52.35%;
  top: 15.5%;
  width: 3.55%;
  height: 8.4%;
}

/* line 702, ../sass/global.scss */
#frame-107-a .basket-4 {
  left: 74.05%;
  top: 15.5%;
  width: 3.35%;
  height: 8.4%;
}

/* line 703, ../sass/global.scss */
#frame-107-a .basket-5 {
  left: 11.7%;
  top: 30.4%;
  width: 3.55%;
  height: 8.4%;
}

/* line 704, ../sass/global.scss */
#frame-107-a .basket-6 {
  left: 30.6%;
  top: 30.4%;
  width: 3.55%;
  height: 8.4%;
}

/* line 705, ../sass/global.scss */
#frame-107-a .basket-7 {
  left: 53.7%;
  top: 30.4%;
  width: 3.65%;
  height: 8.6%;
}

/* line 706, ../sass/global.scss */
#frame-107-a .basket-8 {
  left: 77.25%;
  top: 30.6%;
  width: 3.4%;
  height: 8.2%;
}

/* line 707, ../sass/global.scss */
#frame-107-a .basket-9 {
  left: 17.25%;
  top: 44.9%;
  width: 3.55%;
  height: 9.1%;
}

/* line 708, ../sass/global.scss */
#frame-107-a .basket-10 {
  left: 32%;
  top: 45.6%;
  width: 3.65%;
  height: 8.6%;
}

/* line 709, ../sass/global.scss */
#frame-107-a .basket-11 {
  left: 53.5%;
  top: 45.3%;
  width: 3.75%;
  height: 8.7%;
}

/* line 710, ../sass/global.scss */
#frame-107-a .basket-12 {
  left: 74%;
  top: 45.3%;
  width: 3.5%;
  height: 8.9%;
}

/* line 711, ../sass/global.scss */
#frame-107-a .basket-13 {
  left: 22.7%;
  top: 60.3%;
  width: 3.7%;
  height: 8.9%;
}

/* line 712, ../sass/global.scss */
#frame-107-a .basket-14 {
  left: 43.7%;
  top: 60.3%;
  width: 3.6%;
  height: 8.9%;
}

/* line 713, ../sass/global.scss */
#frame-107-a .basket-15 {
  left: 61.8%;
  top: 60.7%;
  width: 3.75%;
  height: 8.7%;
}

/* line 714, ../sass/global.scss */
#frame-107-a .basket-16 {
  left: 16.35%;
  top: 75.4%;
  width: 3.65%;
  height: 9.1%;
}

/* line 715, ../sass/global.scss */
#frame-107-a .basket-17 {
  left: 31.6%;
  top: 75%;
  width: 3.7%;
  height: 9.5%;
}

/* line 716, ../sass/global.scss */
#frame-107-a .basket-18 {
  left: 53.4%;
  top: 75.4%;
  width: 3.65%;
  height: 8.7%;
}

/* line 717, ../sass/global.scss */
#frame-107-a .basket-19 {
  left: 74.6%;
  top: 75.4%;
  width: 3.6%;
  height: 8.7%;
}

/*FRAME 107-b*/
/* line 722, ../sass/global.scss */
#frame-107-b {
  background-image: url(../pics/s7-task-b.png);
}

/* line 727, ../sass/global.scss */
#frame-107-b .ball {
  background-size: 100% 100%;
}

/* line 734, ../sass/global.scss */
#frame-107-b .ball-2 {
  left: 87.3%;
  top: 9.8%;
  width: 3.25%;
  height: 9.8%;
  background-image: url(../pics/s7-2.png);
}

/* line 740, ../sass/global.scss */
#frame-107-b .ball-3 {
  left: 8.25%;
  top: 23.9%;
  width: 3.25%;
  height: 9.8%;
  background-image: url(../pics/s7-3.png);
}

/* line 746, ../sass/global.scss */
#frame-107-b .ball-4 {
  left: 8.25%;
  top: 8.9%;
  width: 3.25%;
  height: 9.8%;
  background-image: url(../pics/s7-4.png);
}

/* line 752, ../sass/global.scss */
#frame-107-b .ball-5 {
  left: 87.3%;
  top: 23.9%;
  width: 3.25%;
  height: 9.8%;
  background-image: url(../pics/s7-5.png);
}

/* line 758, ../sass/global.scss */
#frame-107-b .ball-6 {
  left: 8.25%;
  top: 38.8%;
  width: 3.25%;
  height: 9.8%;
  background-image: url(../pics/s7-6.png);
}

/* line 764, ../sass/global.scss */
#frame-107-b .basket {
  background-size: 70% 70%;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 772, ../sass/global.scss */
#frame-107-b .basket-1 {
  left: 27.8%;
  top: 15%;
  width: 3.75%;
  height: 9.1%;
}

/* line 773, ../sass/global.scss */
#frame-107-b .basket-2 {
  left: 61%;
  top: 15.3%;
  width: 3.55%;
  height: 8.6%;
}

/* line 774, ../sass/global.scss */
#frame-107-b .basket-3 {
  left: 19.45%;
  top: 29.7%;
  width: 3.75%;
  height: 9.3%;
}

/* line 775, ../sass/global.scss */
#frame-107-b .basket-4 {
  left: 52.8%;
  top: 30.4%;
  width: 3.4%;
  height: 8.6%;
}

/* line 776, ../sass/global.scss */
#frame-107-b .basket-5 {
  left: 68.8%;
  top: 30.1%;
  width: 3.5%;
  height: 8.7%;
}

/* line 777, ../sass/global.scss */
#frame-107-b .basket-6 {
  left: 20%;
  top: 45.4%;
  width: 3.55%;
  height: 8.9%;
}

/* line 778, ../sass/global.scss */
#frame-107-b .basket-7 {
  left: 38.25%;
  top: 45.4%;
  width: 3.65%;
  height: 8.7%;
}

/* line 779, ../sass/global.scss */
#frame-107-b .basket-8 {
  left: 53.25%;
  top: 45.7%;
  width: 3.55%;
  height: 8.4%;
}

/* line 780, ../sass/global.scss */
#frame-107-b .basket-9 {
  left: 68.35%;
  top: 45.7%;
  width: 3.75%;
  height: 8.9%;
}

/* line 781, ../sass/global.scss */
#frame-107-b .basket-10 {
  left: 9.65%;
  top: 60.3%;
  width: 3.75%;
  height: 8.9%;
}

/* line 782, ../sass/global.scss */
#frame-107-b .basket-11 {
  left: 27.45%;
  top: 60.5%;
  width: 3.75%;
  height: 8.7%;
}

/* line 783, ../sass/global.scss */
#frame-107-b .basket-12 {
  left: 48.95%;
  top: 60.5%;
  width: 3.65%;
  height: 8.5%;
}

/* line 784, ../sass/global.scss */
#frame-107-b .basket-13 {
  left: 61.9%;
  top: 60.3%;
  width: 3.8%;
  height: 8.9%;
}

/* line 785, ../sass/global.scss */
#frame-107-b .basket-14 {
  left: 78.7%;
  top: 60.3%;
  width: 3.65%;
  height: 8.9%;
}

/* line 786, ../sass/global.scss */
#frame-107-b .basket-15 {
  left: 19.8%;
  top: 75.4%;
  width: 3.55%;
  height: 8.7%;
}

/* line 787, ../sass/global.scss */
#frame-107-b .basket-16 {
  left: 36%;
  top: 75.4%;
  width: 3.45%;
  height: 8.4%;
}

/* line 788, ../sass/global.scss */
#frame-107-b .basket-17 {
  left: 69.45%;
  top: 75.2%;
  width: 3.55%;
  height: 8.9%;
}

/*FRAME 107-c*/
/* line 793, ../sass/global.scss */
#frame-107-c {
  background-image: url(../pics/s7-task-c.png);
}

/* line 798, ../sass/global.scss */
#frame-107-c .ball {
  background-size: 100% 100%;
}

/* line 805, ../sass/global.scss */
#frame-107-c .ball-2 {
  left: 32.15%;
  top: 83.2%;
  width: 3.25%;
  height: 9.8%;
  background-image: url(../pics/s7-2.png);
}

/* line 811, ../sass/global.scss */
#frame-107-c .ball-3 {
  left: 41.7%;
  top: 83.2%;
  width: 3.25%;
  height: 9.8%;
  background-image: url(../pics/s7-3.png);
}

/* line 817, ../sass/global.scss */
#frame-107-c .ball-4 {
  left: 51.4%;
  top: 83.2%;
  width: 3.25%;
  height: 9.8%;
  background-image: url(../pics/s7-4.png);
}

/* line 823, ../sass/global.scss */
#frame-107-c .ball-5 {
  left: 69.95%;
  top: 83.2%;
  width: 3.25%;
  height: 9.8%;
  background-image: url(../pics/s7-5.png);
}

/* line 829, ../sass/global.scss */
#frame-107-c .ball-6 {
  left: 60.95%;
  top: 83.2%;
  width: 3.25%;
  height: 9.8%;
  background-image: url(../pics/s7-6.png);
}

/* line 835, ../sass/global.scss */
#frame-107-c .basket {
  background-size: 70% 70%;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 843, ../sass/global.scss */
#frame-107-c .basket-1 {
  left: 5.9%;
  top: 18.6%;
  width: 3.2%;
  height: 7.6%;
}

/* line 844, ../sass/global.scss */
#frame-107-c .basket-2 {
  left: 18.6%;
  top: 19%;
  width: 3.1%;
  height: 7.6%;
}

/* line 845, ../sass/global.scss */
#frame-107-c .basket-3 {
  left: 48.3%;
  top: 18.8%;
  width: 3.1%;
  height: 7.8%;
}

/* line 846, ../sass/global.scss */
#frame-107-c .basket-4 {
  left: 63.95%;
  top: 18.8%;
  width: 3.15%;
  height: 7.6%;
}

/* line 847, ../sass/global.scss */
#frame-107-c .basket-5 {
  left: 81.95%;
  top: 18.6%;
  width: 3.35%;
  height: 7.8%;
}

/* line 848, ../sass/global.scss */
#frame-107-c .basket-6 {
  left: 25.25%;
  top: 31.6%;
  width: 3.2%;
  height: 7.7%;
}

/* line 849, ../sass/global.scss */
#frame-107-c .basket-7 {
  left: 59.45%;
  top: 31.6%;
  width: 3%;
  height: 7.7%;
}

/* line 850, ../sass/global.scss */
#frame-107-c .basket-8 {
  left: 75.3%;
  top: 31.4%;
  width: 3.05%;
  height: 7.7%;
}

/* line 851, ../sass/global.scss */
#frame-107-c .basket-9 {
  left: 9.8%;
  top: 45.1%;
  width: 3.2%;
  height: 7.6%;
}

/* line 852, ../sass/global.scss */
#frame-107-c .basket-10 {
  left: 23.5%;
  top: 44.9%;
  width: 3.15%;
  height: 7.5%;
}

/* line 853, ../sass/global.scss */
#frame-107-c .basket-11 {
  left: 43.5%;
  top: 44.7%;
  width: 3.3%;
  height: 7.7%;
}

/* line 854, ../sass/global.scss */
#frame-107-c .basket-12 {
  left: 78.9%;
  top: 44.7%;
  width: 3.2%;
  height: 7.7%;
}

/* line 855, ../sass/global.scss */
#frame-107-c .basket-13 {
  left: 15.45%;
  top: 57.8%;
  width: 3.1%;
  height: 7.7%;
}

/* line 856, ../sass/global.scss */
#frame-107-c .basket-14 {
  left: 50.95%;
  top: 57.8%;
  width: 3.1%;
  height: 7.9%;
}

/* line 857, ../sass/global.scss */
#frame-107-c .basket-15 {
  left: 66.9%;
  top: 57.8%;
  width: 3.05%;
  height: 7.7%;
}

/* line 858, ../sass/global.scss */
#frame-107-c .basket-16 {
  left: 27.8%;
  top: 70.9%;
  width: 3.3%;
  height: 7.5%;
}

/* line 859, ../sass/global.scss */
#frame-107-c .basket-17 {
  left: 39.3%;
  top: 70.5%;
  width: 3.1%;
  height: 7.7%;
}

/* line 860, ../sass/global.scss */
#frame-107-c .basket-18 {
  left: 55.85%;
  top: 70.9%;
  width: 3.3%;
  height: 7.5%;
}

/* line 861, ../sass/global.scss */
#frame-107-c .basket-19 {
  left: 77.35%;
  top: 70.5%;
  width: 3.25%;
  height: 8.1%;
}

/* line 862, ../sass/global.scss */
#frame-107-c .basket-20 {
  left: 88.4%;
  top: 70.7%;
  width: 3.1%;
  height: 7.5%;
}

/*FRAME 108*/
/* line 867, ../sass/global.scss */
#frame-108 .matches {
  background-image: url(../pics/s8-matches.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

/* line 876, ../sass/global.scss */
#frame-108 .matches.pos-0 {
  left: 50%;
  top: 50%;
  width: 0%;
  height: 0%;
}

/* line 882, ../sass/global.scss */
#frame-108 .matches.pos-1 {
  background-size: 60%;
}

/* line 888, ../sass/global.scss */
#frame-108 .matches.pos-2 {
  left: 62.8%;
  top: 33.6%;
  width: 26.85%;
  height: 42.1%;
}

/* line 894, ../sass/global.scss */
#frame-108 .equation {
  background-image: url(../pics/s8-equation.png);
  left: 10.75%;
  top: 30.4%;
  width: 45.6%;
  height: 48.5%;
}

/* line 901, ../sass/global.scss */
#frame-108 .textfield {
  background-color: transparent;
  border: none;
  font-size: 1.8vmax;
  text-align: center;
  padding: 0.3%;
}

/* line 912, ../sass/global.scss */
#frame-108 .textfield-1 {
  left: 41.25%;
  top: 44.5%;
  width: 11.5%;
  height: 5.5%;
}

/* line 917, ../sass/global.scss */
#frame-108 .textfield-2 {
  left: 41.25%;
  top: 53.5%;
  width: 11.5%;
  height: 5.5%;
}

/* line 922, ../sass/global.scss */
#frame-108 .textfield-3 {
  left: 41.25%;
  top: 62.5%;
  width: 11.5%;
  height: 5.5%;
}

/* line 927, ../sass/global.scss */
#frame-108 .title {
  left: 25.2%;
  top: 14.0%;
  width: 49.85%;
  height: 5.9%;
  font-size: 2vmax;
  text-align: center;
}

/* line 935, ../sass/global.scss */
#frame-108 .check-button {
  left: 68.95%;
  top: 81.2%;
  width: 12.25%;
  height: 9.1%;
  background-image: url(../pics/check-button.png);
}

/* line 943, ../sass/global.scss */
#frame-108 .check-button:hover {
  background-image: url(../pics/check-button-hover.png);
}

/* line 948, ../sass/global.scss */
#frame-108 .pear-container {
  left: 40.95%;
  top: 74.8%;
  width: 18.6%;
  height: 15.5%;
}

/* line 954, ../sass/global.scss */
#frame-108 .pear-container .pear {
  float: left;
  width: 33.3%;
  height: 100%;
  background-size: 100% 100%;
  background-image: url(../pics/pear.png);
}

/*FRAME 109*/
/* line 965, ../sass/global.scss */
#frame-109 {
  background-image: url(../pics/s6-bg.png);
}

/* line 970, ../sass/global.scss */
#frame-109 .boy-mouth {
  background-image: url(../pics/s2-boy-1-mouth.gif);
}

/* line 976, ../sass/global.scss */
#frame-109 .pancakes {
  background-image: url(../pics/s9-pancakes.png);
  left: 14.15%;
  top: 17.9%;
  width: 10.35%;
  height: 15.8%;
}

/* line 983, ../sass/global.scss */
#frame-109 .cloud {
  left: 10.2%;
  top: 10.9%;
  width: 16.6%;
  height: 29.9%;
  background-image: url(../pics/s9-cloud.png);
}

/* line 990, ../sass/global.scss */
#frame-109 .soda {
  background-image: url(../pics/s9-soda.png);
  left: 14.1%;
  top: 37%;
  width: 3.2%;
  height: 9.3%;
}

/* line 997, ../sass/global.scss */
#frame-109 .vinegar {
  background-image: url(../pics/s9-vinegar.png);
  left: 20.9%;
  top: 33%;
  width: 2.05%;
  height: 13.3%;
}

/*FRAME 110*/
/* line 1006, ../sass/global.scss */
#frame-110 {
  background-image: url(../pics/black-background.png);
}

/* line 1011, ../sass/global.scss */
#frame-110 .avogadro-law-eng {
  background-image: url(../pics/avogadro-law-eng.png);
  left: 30.65%;
  top: 44.7%;
  width: 38.7%;
  height: 10.6%;
}

/* line 1018, ../sass/global.scss */
#frame-110 .avogadro-law-kaz {
  background-image: url(../pics/avogadro-law-kaz.png);
  left: 32.45%;
  top: 30%;
  width: 35.05%;
  height: 10.6%;
}

/* line 1025, ../sass/global.scss */
#frame-110 .avogadro-law-rus {
  background-image: url(../pics/avogadro-law-rus.png);
  left: 33.65%;
  top: 57.9%;
  width: 32.7%;
  height: 10.6%;
}

/* line 1032, ../sass/global.scss */
#frame-110 .formula {
  background-image: url(../pics/s10-formula.png);
}

/* line 1038, ../sass/global.scss */
#frame-110 .law {
  left: 6.85%;
  top: 30.5%;
  width: 86.75%;
  height: 7.4%;
  background-image: url(../pics/s10-law.png);
}

/* line 1045, ../sass/global.scss */
#frame-110 .label {
  left: 22.05%;
  top: 53.6%;
  width: 8.05%;
  height: 6.5%;
  font-size: 4vmax;
  color: white;
}

/* line 1053, ../sass/global.scss */
#frame-110 .textfield {
  left: 38.05%;
  top: 49.7%;
  width: 25.85%;
  height: 13.8%;
  font-size: 4vmax;
  padding: 1%;
}

/* line 1061, ../sass/global.scss */
#frame-110 .check-button {
  left: 67.4%;
  top: 49.3%;
  width: 19.9%;
  height: 14.9%;
  background-image: url(../pics/check-button.png);
}

/* line 1067, ../sass/global.scss */
#frame-110 .check-button:hover {
  background-image: url(../pics/check-button-hover.png);
}

/* line 1072, ../sass/global.scss */
#frame-110 .law-link {
  font-size: 2vmax;
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

/* line 1081, ../sass/global.scss */
#frame-110 .law-1-link {
  left: 15.05%;
  top: 84.5%;
  width: 13.9%;
  height: 5.1%;
}

/* line 1086, ../sass/global.scss */
#frame-110 .law-2-link {
  left: 40%;
  top: 84.5%;
  width: 22%;
  height: 5.1%;
}

/* line 1091, ../sass/global.scss */
#frame-110 .law-3-link {
  left: 76.7%;
  top: 84.5%;
  width: 8.3%;
  height: 5.1%;
}

/* line 1096, ../sass/global.scss */
#frame-110 .hint-pic {
  left: 5%;
  top: 10%;
  width: 90%;
  height: 80%;
}

/* line 1102, ../sass/global.scss */
#frame-110 .hint-pic .close-button {
  right: 0px;
  top: 0px;
  font-size: 3vmax;
  color: white;
  cursor: pointer;
}

/* line 1112, ../sass/global.scss */
#frame-110 .hint-pic .close-button:hover {
  color: blue;
}

/*FRAME 111*/
/* line 1119, ../sass/global.scss */
#frame-111 {
  background-image: url(../pics/s11-bg.png);
}

/* line 1124, ../sass/global.scss */
.transformed {
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

/* line 1129, ../sass/global.scss */
#frame-111 .fruits {
  -ms-transition: all 10s;
  -webkit-transition: all 10s;
  -moz-transition: all 10s;
  -o-transition: all 10s;
  transition: all 10s;
  left: 26.65%;
  top: 0.8%;
  width: 49.4%;
  height: 80.7%;
  background-image: url(../pics/s11-fruits.png);
  background-size: 100% 100%;
}

/*CHECK YOURSELF*/
/* line 1140, ../sass/global.scss */
#frame-201 * {
  font-size: 2vmax;
}

/* line 1145, ../sass/global.scss */
#frame-201 .page-title {
  font-size: 8vmax;
}

/* line 1150, ../sass/global.scss */
#frame-201 .surname, #frame-201 .surname u {
  font-size: 3vmax;
}

/* line 1155, ../sass/global.scss */
#frame-201 .date, #frame-201 .date u {
  font-size: 3vmax;
}

/* line 1160, ../sass/global.scss */
#frame-201 .awards {
  font-size: 2.5vmax;
}

/* line 1165, ../sass/global.scss */
#frame-201 .part-title {
  position: relative;
  border-top: 2px solid black;
  padding-top: 1vmax;
}

/* line 1172, ../sass/global.scss */
#frame-201 .question {
  padding: 1vmax;
  border-top: 2px dotted gray;
}

/* line 1178, ../sass/global.scss */
#frame-201 .task-4 .table .row .data {
  float: left;
  border: 1px solid black;
  padding: 0.5%;
  width: 25%;
  height: 100%;
}

/* line 1187, ../sass/global.scss */
#frame-201 .task-4 .table .row {
  width: 100%;
  height: 33%;
}

/* line 1193, ../sass/global.scss */
#frame-201 .task-4 .table {
  position: relative;
  width: 1800px;
  height: 300px;
}

/*FACTS*/
/* line 1202, ../sass/global.scss */
#frame-301 {
  background-color: lightGray;
}

/* line 1207, ../sass/global.scss */
#frame-301 .header {
  left: 2.75%;
  top: 6.4%;
  width: 11.3%;
  height: 4.2%;
  font-size: 1.7vmax;
  font-weight: bold;
}

/* line 1215, ../sass/global.scss */
#frame-301 .facts-container {
  left: 3.15%;
  top: 21.7%;
  width: 92.55%;
  height: 42.8%;
  border-bottom: 1px solid white;
}

/* line 1222, ../sass/global.scss */
#frame-301 .fact {
  float: left;
  height: 100%;
  width: 20%;
}

/* line 1229, ../sass/global.scss */
#frame-301 .fact .title {
  font-size: 1.6vmax;
  text-align: center;
  width: 100%;
  height: 15%;
  border-bottom: 1px solid white;
  padding-bottom: 3%;
}

/* line 1239, ../sass/global.scss */
#frame-301 .fact .text {
  font-size: 1.1vmax;
  font-family: Times New Roman;
  padding: 1%;
  padding-top: 5%;
  text-align: center;
}

/* line 1248, ../sass/global.scss */
#frame-301 .sources {
  left: 36.75%;
  top: 70.9%;
  width: 28.1%;
  height: 23%;
}

/* line 1254, ../sass/global.scss */
#frame-301 .sources .title {
  font-size: 1.3vmax;
  text-align: center;
}

/* line 1260, ../sass/global.scss */
#frame-301 .sources ul li a {
  font-size: 1.1vmax;
  font-family: Times New Roman;
  font-style: italic;
}

/* line 1267, ../sass/global.scss */
#frame-301 .back-button {
  left: 80.75%;
  top: 79.3%;
  width: 16.3%;
  height: 12.7%;
  font-size: 2vmax;
  text-align: center;
  border-radius: 10vmax;
  background-color: #6963ec;
  color: white;
  padding-top: 2%;
}

/* line 1279, ../sass/global.scss */
#frame-301 .back-button:hover {
  background-color: #e41e1e;
}

/*RESEARCH*/
/* line 1286, ../sass/global.scss */
#frame-401 {
  background-image: url(../pics/black-background.png);
}

/* line 1291, ../sass/global.scss */
#frame-401 .scales {
  left: 5.25%;
  top: 55.2%;
  width: 27.8%;
  height: 34.6%;
  background-image: url(../pics/scales.png);
}

/* line 1298, ../sass/global.scss */
#frame-401 .scales-empty {
  left: 5.25%;
  top: 55.2%;
  width: 27.8%;
  height: 34.6%;
  background-image: url(../pics/scales-empty.png);
}

/* line 1305, ../sass/global.scss */
#frame-401 .scales-before {
  left: 5.25%;
  top: 55.2%;
  width: 27.8%;
  height: 34.6%;
  background-image: url(../pics/scales-before.png);
}

/* line 1312, ../sass/global.scss */
#frame-401 .scales-after {
  left: 5.25%;
  top: 55.2%;
  width: 27.8%;
  height: 34.6%;
  background-image: url(../pics/scales-after.png);
}

/* line 1319, ../sass/global.scss */
#frame-401 .spoon {
  left: 91.5%;
  top: 29.9%;
  width: 2.35%;
  height: 34%;
  background-image: url(../pics/spoon.png);
  background-size: 300% 100%;
}

/* line 1327, ../sass/global.scss */
#frame-401 .spoon-petry {
  left: 82.1%;
  top: 44.6%;
  width: 2.35%;
  height: 34%;
}

/* line 1332, ../sass/global.scss */
#frame-401 .spoon-tigel {
  left: 60%;
  top: 7.9%;
  width: 2.35%;
  height: 34%;
}

/* line 1337, ../sass/global.scss */
#frame-401 .petry {
  left: 75%;
  top: 72.5%;
  width: 14.0%;
  height: 12.1%;
}

/* line 1343, ../sass/global.scss */
#frame-401 .petry-full {
  background-image: url(../pics/petry-full.png);
}

/* line 1348, ../sass/global.scss */
#frame-401 .petry-empty {
  background-image: url(../pics/petry-empty.png);
}

/* line 1353, ../sass/global.scss */
#frame-401 .shtativ {
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  background-image: url(../pics/shtativ.png);
  left: 39.8%;
  top: 28.0%;
  width: 25.9%;
  height: 57.3%;
}

/* line 1361, ../sass/global.scss */
#frame-401 .burner {
  background-image: url(../pics/burner.png);
  left: 52.75%;
  top: 55.2%;
  width: 9.6%;
  height: 26.9%;
}

/* line 1368, ../sass/global.scss */
#frame-401 .tigel {
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  left: 52.75%;
  top: 41.9%;
  width: 12.4%;
  height: 13.3%;
}

/* line 1375, ../sass/global.scss */
#frame-401 .tigel-empty {
  background-image: url(../pics/tigel-empty.png);
}

/* line 1380, ../sass/global.scss */
#frame-401 .tigel-full {
  background-image: url(../pics/tigel-full.png);
}

/* line 1385, ../sass/global.scss */
#frame-401 .tigel-closed {
  background-image: url(../pics/tigel-closed.png);
}

/* line 1390, ../sass/global.scss */
#frame-401 .tigel-on-scale {
  left: 14.55%;
  top: 48.6%;
  width: 12.4%;
  height: 13.3%;
}

/* line 1395, ../sass/global.scss */
#frame-401 .title {
  color: white;
  font-size: 4vmax;
  text-decoration: underline;
  left: 6.1%;
  top: 9.1%;
  width: 10.55%;
  height: 7.3%;
}

/* line 1404, ../sass/global.scss */
#frame-401 .text {
  font-size: 2vmax;
  text-align: left;
  color: white;
  background-color: black;
  padding: 3%;
  left: 18.85%;
  top: 20%;
  width: 65.15%;
  height: 50%;
}

/* line 1415, ../sass/global.scss */
#frame-401 .comment {
  font-size: 2vmax;
  color: white;
  left: 5.9%;
  top: 21.8%;
  width: 35%;
  height: 10.1%;
}

/* line 1429, ../sass/global.scss */
#frame-401 .info-1 {
  background-image: url(../pics/research-1.png);
}

/* line 1434, ../sass/global.scss */
#frame-401 .info-2 {
  background-image: url(../pics/research-2.png);
}

/* line 1439, ../sass/global.scss */
#frame-401 .info-3 {
  background-image: url(../pics/research-3.png);
}

/* line 1444, ../sass/global.scss */
#frame-401 .print-button {
  font-size: 4vmax;
  color: white;
  text-align: center;
  border: 3px solid white;
  background-color: black;
  cursor: pointer;
  left: 20.9%;
  top: 79.8%;
  width: 60.95%;
  height: 12.8%;
}

/* line 1457, ../sass/global.scss */
#frame-401 .print-button:hover {
  background-color: gray;
}

/*FRAME 402*/
/* line 1464, ../sass/global.scss */
#frame-402 .date {
  width: 100%;
  height: 5%;
  font-size: 1.5vmax;
  padding: 1%;
}

/* line 1473, ../sass/global.scss */
#frame-402 .instruction {
  width: 100%;
  top: 5%;
  height: 10%;
  font-size: 2.5vmax;
  padding: 1%;
}

/* line 1483, ../sass/global.scss */
#frame-402 .instruction-2 {
  width: 100%;
  height: 10%;
  top: 15%;
  font-size: 2.5vmax;
  padding: 1%;
}

/* line 1493, ../sass/global.scss */
#frame-402 .instruction-3 {
  width: 100%;
  height: 10%;
  top: 75%;
  font-size: 2.5vmax;
  padding: 1%;
}

/* line 1503, ../sass/global.scss */
#frame-402 .instruction-4 {
  width: 100%;
  height: 10%;
  top: 130%;
  font-size: 2.5vmax;
  padding: 1%;
}

/* line 1513, ../sass/global.scss */
#frame-402 .table {
  top: 30%;
  left: 2%;
  width: 95%;
  height: 40%;
}

/* line 1522, ../sass/global.scss */
#frame-402 .table-2 {
  top: 85%;
  left: 2%;
  width: 95%;
  height: 40%;
}

/* line 1531, ../sass/global.scss */
#frame-402 .table .row {
  width: 100%;
  height: 25%;
}

/* line 1537, ../sass/global.scss */
#frame-402 .table-2 .row {
  width: 100%;
  height: 25%;
}

/* line 1543, ../sass/global.scss */
#frame-402 .table .row .data {
  display: block;
  width: 50%;
  height: 100%;
  float: left;
  border: 1px solid black;
  font-size: 2.5vmax;
  padding: 1%;
}

/* line 1554, ../sass/global.scss */
#frame-402 .table-2 .row .data {
  display: block;
  width: 33%;
  height: 100%;
  float: left;
  border: 1px solid black;
  font-size: 2.5vmax;
  padding: 1%;
}
